:root {
    font-family: Helvetica, Arial, sans-serif;
    background-color: whitesmoke;
    --text-color: #111111;
    --text1-color: #222222;
    --text2-color: #6d6d6d;
    --main-color: #008c99;
    --doimau-color: linear-gradient(
        to top,
        rgba(3, 17, 53, 0.8),
        rgba(13, 84, 214, 0.85)
      ) ;
      --button-color: linear-gradient(
        to top,
        rgba(3, 34, 32, 0.8),
        rgba(5, 126, 85, 0.85)
      ) ;
}
.top-header {
    width: 100%;
    height: 35px;
    background: var(--doimau-color);
    quotes: auto;
    display: flex;
    position: fixed;
    top:0;
    left: 0;
    z-index: 2;
}

.top-header-form {
    width: 50%;
    height: 100%;
    text-align: center;
}

.top-header-box {
    width: 50%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.top-header-box li {
    margin: auto;
    color: #fff;
    font-size: small;
    border-left: 1px solid #fff;
    text-align: left;
    flex: 1;
}

.top-header-box li i {
    padding: 0 5px;
}

.top-header-box li:hover {
    opacity: 0.7;
}

.no-login {
    display: flex;
    justify-content: space-between;
    flex: 2;
    text-align: left;
    display: flex;
}

.yes-login {
    display: flex;
    justify-content: space-between;
    flex: 2;
    display: flex;
}

.top-header-box a {
    color: #fff;
    text-decoration: none;
}

.user-name-header {
    margin: auto;
    color: #fff;
    font-size: small;
    text-align: right;
    flex: 7;
}

.user-avt-header {
    margin: auto;
    color: #fff;
    font-size: small;
    flex: 3;
    position: relative;
    z-index: 1;
}
.user-avt-header:hover .avt-list{
    display: block;
}
.avt-list{
    padding: 10px;
    width: 100px;
    background-color: #fff;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    color: var(--text1-color);
    display: none;
    position: absolute;
    z-index: 10;
    min-width: 100px;
    text-align: left;
}
.avt-list i{
    padding: 0 5px;
}
.loc-hp{
    position: relative;
    z-index: 1;
}
.loc-hp:hover .hp-list{
    display: block;
}
.hp-list{
    padding: 10px;;
    background-color: #fff;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    color: var(--text1-color);
    display: none;
    position: absolute;
    right: 0;

}
.avt-list a{
    color: var(--text1-color);
}
.h-item{
    padding: 5px 0px;
}
.user-avt-header img {
    margin-top: 3px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}

.main-header {
    width: 100%;
    height: 70px;
    quotes: auto;
    display: flex;
    background-color: #fff;
    box-shadow: 0px 2px rgba(0, 0, 0, 0.1);
    position: absolute;
    top:35px;
    left: 0;
    z-index: 1;
}

.main-header-form {
    height: 100%;
    text-align: center;
}

.main-header-form a {
    color: var(--text2-color);
    text-decoration: none;
}

.hf1 {
    flex: 4;
    font-size: xx-large;
}

.hf1 div {
    margin-top: 20px;
}

.hf2 {
    flex: 6;
    margin: auto;
    display: flex;
    list-style: none;
}

.hf2 li {
    margin: auto;
    font-size: 15px;
    border-left: 1px solid #fff;
    text-align: center;
    flex: 1;
}

.hf2 li i {
    margin: auto;
    font-size: 13px;
    opacity: 0.8;
    padding: 0 3px;
}

.hf2 li span:hover {
    color: var(--main-color);
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
      
.button {
    background: var(--button-color);
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
      
.button:hover {
    opacity: 0.8;
}
.login-box{
    width: 40%;
    margin: auto;
    margin-top: 50px;
    padding: 2px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.login-form{
    width: 93%;
    margin: auto;
    margin-top: 2px;
    background-color: #fff;
    padding: 20px;
}
.login-header{
    border-radius: 5px 5px 0px 0px;
    width: 93%;
    text-align: center;
    background-color: whitesmoke;
    padding: 20px; 
}
.login-footer{
    margin-top: 2px;
    border-radius: 0px 0px 5px 5px;
    width: 93%;
    text-align: center;
    background-color: whitesmoke;
    padding: 20px; 
}
.login-footer div{
    color:var(--text1-color);
}
.info-bt{
    padding: 5px;
}
footer{
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    background: var(--doimau-color);
}